{{ template "default" . }}
{{ define "content" }}
<section class="main-stuff">
    <div>
        <p>I am Khushmeet Singh. Doing B.Tech in computer science.
            Started programming when I was in 5th grade. Started with Java, now rests at <span class="keywords">Python</span>.
            Currently paving my way into <span class="keywords">Golang</span>. Very passionate about <span class="keywords">Deep Learning</span>.
            Also does <span class="keywords">Web Development</span>. Supporter of <span class="keywords">FOSS</span>. Nerd.
        </p>
    </div>
</section>
{{ end }}
